{
  "type": "",
  "host": "",
  "port": 5432,
  "username": "",
  "password": "",
  "database": "",
  "synchronize": false,
  "ssl": true,
  "entities": [
    "**/Entities/*.entity.js"
  ],
  "migrationsTableName": "migrations",
  "migrations": [
    "**/migrations/*.js"
  ],
    "cli": {
        "migrationsDir": "**/migrations",
        "entitiesDir": "**/Entities"
    }
}