{
  "type": "",
  "host": "",
  "port": 5432 ,
  "username": "",
  "password": "",
  "database": "",
  "synchronize": false,
  "entities": [
    "**/*.model{.ts,.js}"
  ],
  "migrationsTableName": "migrations",
  "migrations": [
    "**/migrations/*.ts"
  ],
    "cli": {
        "migrationsDir": "**/migrations"
    }
}